.artistContainer {
  text-align: center;
  width: 75vw;
  margin: 0 auto;
  background-color: #e7eff3;
  box-shadow: 0 2px 4px rgb(104, 109, 126)
}

.header {
  color: #323643;
  font-weight: 700;
}

.description {
  color: #323643;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  text-align: left;
}