.searchInput {
  border-style: none;
  background: transparent;
  margin-top: 5rem;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  background: rgba(57, 63, 84, 0.8);
  color: #bfd2ff;
  border-radius: 2px;
  width: 30vw;
  height: 3rem;
  font-size: 2rem;
  max-width: 400px;
}

.albumButton {
  height: 3rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
}