.AlbumContainer {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 900px) {
  .AlbumContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .picholder {
    align-self: center;
  }
}