.App {
  text-align: center;
  color: #323643;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.AlbumButton {
  display: flex;
  justify-self: center;
}

.Loading {
  display: flex;
  justify-content: center;
  align-content: center;
}